doctype html
html
	head
		title= title
		link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/fileinput.min.css')
	body
		div.menu
			div.menu-items
				ul.list-inline.col-md-12
					li.home-page.col-md-6.col-md-offset-0
						a(href='/') OptiOption
					- if (profile)
						li.profile-page.col-md-1
							- if (profile.login != '')
								a(href='/#{profile.login}') #{profile.login}
							- else if (profile.login == '' && profile.name != '')
								a(href='/#{profile.id}') #{profile.name}
							- else
								a(href='/#{profile.id}') #{profile.id}
					- else
						li.col-md-4.auth-page
							a(href='/registration') Registration
							a(href='/login') Login
					li.feed-page.col-md-1
						a(href='/posts') Feed
		block content
