doctype html
html
	head
		title= title
		link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/fileinput.min.css')
	body
		div.menu
			div.menu-items
				ul.list-inline.col-md-12
					li.main-page.col-md-4.col-sm-4.col-xs-4
						- if (profile)
							a(href='/posts') OptiOption
						- else
							a(href='/') OptiOption
					li.constructor-page.col-md-4.col-sm-4.col-xs-4
						div
							a(href='/constructer')
					- if (profile)
						li.profile-page.col-md-4.col-sm-4.col-xs-4
							- if (profile.login != '')
								a(href='/#{profile.login}') #{profile.login}
							- else if (profile.login == '' && profile.name != '')
								a(href='/#{profile.id}') #{profile.name}
							- else
								a(href='/#{profile.id}') #{profile.id}
					- else
						li.col-md-4.col-sm-4.col-xs-4.auth-page
							a(href='/login') Login
							a(href='/registration') Registration
		block content
