extends layout

block content
	- if (!error)
		.col-md-6.col-md-offset-3.post
			.post-information.row
				- if (data.loginPostOwners != 0)
					a.text-left(href='/#{data.loginPostOwners}') #{data.loginPostOwners}
				h4.text-right #{data.date}
			.post-title
				h3.text-center #{data.title}
			- for (var jj in data.items)
				.text-center.item-step3
					.col-md-8.col-md-offset-2.thumbnail
						h3.itemHeading #{data.items[jj].name}
						.caption
							p #{data.items[jj].desc}
						- if (data.vote != 1)
							p
								button.btn.btn-primary.btn-vote.col-md-12.col-xs-12(type='submit' name='#{Number(jj) + 1}' value='#{data.items[jj].id}') Голосовать
								ul.list-inline.statistics.col-md-12.col-xs-12(style='display: none;' id='stat#{Number(jj) + 1}')
									li
									li #{data.items[jj].votes}
						- else
							p
								ul.list-inline.statistics.col-md-12.col-xs-12
									li
									li #{data.items[jj].votes}
								button.btn.btn-primary.btn-vote.col-md-12.col-xs-12(style='display: none;' type='submit' name='#{Number(jj) + 1}') Голосовать
	- else
		h1 Поста с таким id не существует
			hr

	script(src='/js/jquery-2.1.4.min.js')
	script(src='/js/postF.js')